# =========================================
# ANGULAR
# =========================================

/dist
/.angular
/.angular/cache
/out-tsc
/tmp
/bazel-out

# =========================================
# NODE
# =========================================

/node_modules
npm-debug.log
yarn-error.log

# =========================================
# FIREBASE
# =========================================

serviceAccountKey.json

# =========================================
# IDEs Y EDITORES
# =========================================

.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# =========================================
# VS CODE
# =========================================

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json

.history/*

# =========================================
# MISC
# =========================================

.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# =========================================
# SISTEMA
# =========================================

.DS_Store
Thumbs.db